.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 33%;

    padding-top: 2rem;



}

.card__descr {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #C4C4C4;
    padding: 1rem;

    &::before {
        content: "Niche:";
        color: $color_black;
    }
}

.card__bottom {
    display: flex;
    align-items: center;


    &__price {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: $color_black;

    }

    &__sale {
        text-decoration: line-through;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: $color_lightgrey;

        margin-left: 0.3rem;
    }
}

.card__bottom__stars {
    display: flex;

    margin-left: 0.3rem;
}

.adv_card {
    display: flex;
    flex-direction: column;
    

    width: 25%;

    color: $color_black;

    border: 1px solid $color_lightgrey;

    &__pic {
        align-self: center;
        padding-top: 0.5rem;
    }

    &__text {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        padding-left: 1rem;

    }

    &__price {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;

        padding-top: 1.5rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        
    }

}