$color_black: #000000;
$color_header_black: #141414;
$color_blue: #7fb8f5;
$color_white: #ffffff;
$color_lightgrey: #C4C4C4;
$color_red: #FF0C0C;
$color_darkergrey: #BFBEBE;
$color_darkerblue: #1977DA;